*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10px;
  background-color: var(--secondary);
}

html {
  --tertiary: hsl(200, 15%, 8%);
  --primary-two: hsl(0, 0%, 52%);
  --secondary: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 100%);
}

html[data-theme="dark"] {
  --primary: hsl(209, 23%, 22%);
  --primary-two: hsl(0, 0%, 52%);
  --secondary: hsl(200, 15%, 8%);
  --tertiary: hsl(0, 0%, 100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primary);
  box-shadow: 0 .3rem .2rem rgba(0, 0, 0, 0.061);
}

.nav a {
  font-size: 1.5rem;
  color: var(--tertiary);
  font-weight: 600;
  text-decoration: none;
}

.mode {
  display: none;
}

.modeLabel {
  font-size: 1.3rem;
  color: var(--tertiary);
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.mode:focus {
  outline: none;
}

.input__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}

.input {
  font-size: 1.5rem;
  width: 16rem;
  padding: .2rem;
  background-color: var(--primary);
  border: .4px solid rgba(0, 0, 0, 0.397);
  color: var(--tertiary);
}

.region {
  font-size: 1rem;
  background: var(--primary);
  border: none;
  color: var(--tertiary);
}

@media screen and (max-width: 416px) {
  .region {
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: .2rem;
  }
}

.country {
  width: 280px;
  background-color: var(--primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  margin: 4rem auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.country__img {
  display: block;
  width: 100%;
  height: 200px;
  flex: 0 0 40%;
}

.country__info {
  flex: 0 0 55%;
  padding: 1rem 2rem;
}

.country__info--hidden {
  padding: 0 2rem;
}

.country__info h3,
.country__info--hidden h3 {
  margin: .5rem 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--tertiary);
}

.country__info span,
.country__info--hidden span {
  font-weight: 300;
  color: var(--primary-two);
}

.show-hide {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.country__info--hidden {
  height: 0;
  overflow: hidden;
  transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.border-countries {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.border-countries li {
  color: var(--primary-two);
  font-weight: 300;
  margin: .2rem;
  background-color: var(--primary);
  border: 1px solid var(--primary-two);
  padding: .2rem .3rem;
  ;
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  .info {
    width: 100%;
    height: 350px;
    max-width: 1000px;
    flex-direction: row;
    background: transparent;
  }

  .info .country__img {
    width: 30%;
    height: 100%;
    flex: 0 0 35%;
  }

  .info button {
    display: none;
  }

  .info .country__info {
    flex: 30%;
    padding: 1rem 0 1rem 2rem;
  }

  .info .country__name {
    font-size: 2rem;
    margin: 1rem 2rem;
  }

  .info .country__info--hidden {
    height: auto;
    flex: 35%;
    margin-top: 5rem;
    padding: 0;
  }
}

@media screen and (min-width: 600px) {
  .countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .country {
    margin: 1rem;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  outline: 100vh solid rgba(0, 0, 0, 0.116);
  background: rgba(0, 0, 0, 0.116);
  outline-offset: unset;
  font-size: 2rem;
  color: var(--tertiary);
}


.showItem {
  display: block;
  height: auto;
}